{% extends "plantilla.html" %}

{% block content %}

<section class="content-header">
    <h1>GESTOR DE PACIENTES</h1>
</section>

<section class="content">
    <div class="box">
        <div class="body-header">
            <a href="{{ url_for('crear_paciente') }}">
                <button class="btn btn-primary">Crear Paciente</button>
            </a>
        </div>

        <div class="box-body">

            <table id="tablaDoctores" class="table table-bordered table-striped dt-responsive">
                <thead>
                    <tr>
                        <th>Nombre y Apellido</th>
                        <th>Genero</th>
                        <th>Consultorio</th>
                        <th>Usuario</th>
                        <th>Documento</th>
                        <th>Teléfono</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</section>

{% endblock %}